@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sitio de Alejandro</h1>
    <p>Profesor de <a href="http://www.isp20.edu.ar">Instituto Superior de Profesorado Nº20</a>.</p>
</div>
